$primary-color: #333;
$secondary-color: #f8f9fa;
$text-color: #333;
$text-color-hover: #bd971e;
$background-color: #f0f0f0;
$content-bg-color: white;
$footer-bg-color: $primary-color;
$gradient-start: #9c74eb;
$gradient-end: #ACB6E5;
$shadow-color: rgba(0, 0, 0, 0.2);
